.container{
 display: grid;
 grid-template-rows: 1fr 4fr 1fr;   
 height: 100vh;
}

.header{
    display: flex;
   align-items: center;
   justify-content: center;
}

.Inside{
 display: flex;
        max-width: 960px;
     max-height: 960px;
       height: 40rem;
    width: 40rem;
     border: 2px solid black;
}

.board{
    justify-self: center;
}

#Start{
   position: absolute;
   top: 20vh;
   left: 30vw;
   padding: 24px;
   width: 40vw;
   height: 50vh;
   border-radius: 24px;
   border: transparent solid;
   background: rgba(0,0,0,0.8);
   z-index: 1000;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.field{
  display: flex;
  gap: 15px;
  padding: 24px;
  flex-direction: column;
  font-size: x-large;
  color: white;
}

.hidden{
    display: none;
}

.UI{
    display: flex;
}